/*
TABLE OF CONTENTS 
---------------------------------------------------

    • Global
    • Header
        • Navigation
        • Menu
        • Jumbotron
        • Slider
    • About
    • Features
    • Clients
    • Testimonials
    • Footer
        • Copyright info
    • Blog
    • Media Queries (mobile)

    */
/* ================================================
   Global Styles
   ================================================ */

body,
html {
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  position: relative;
}

a {
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
/* 
   Typography
   ---------- */

strong,
b {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 700;
  line-height: 1.3;
}

h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 20px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 16px;
  }
}

p,
.lead {
  line-height: 1.7;
}
/* 
   Buttons
   ------- */

.btn {
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 7px 20px;
  border-width: 0;
  /*transition:all .5s ease;*/
}

.btn-group-lg > .btn,
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}

.btn-xl {
  padding: 15px 50px;
  font-size: 24px;
  font-weight: bold;
}

.btn-xs {
  border-width: 1px;
  padding: 5px 10px;
  font-size: 11px;
  font-weight: 300;
}

@media (max-width: 767px) {
  .btn-xl {
    font-size: 20px;
    padding: 15px 40px;
  }
}

.btn-default,
.btn-outline,
.btn-success {
  border-width: 2px;
}
/* 
   Form Inputs
   ----------- */

.form-control {
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #dddddd;
  height: 40px;
}

.form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.has-error .form-control:focus {
  border-color: #e23b1a;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.has-error .checkbox {
  color: #5c5c5c;
}

.input-lg {
  height: 50px;
}

.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  border-radius: 3px;
}

@media (max-width: 767px) {
  .checkbox-inline,
  .radio-inline {
    display: block;
  }
  .checkbox-inline + .checkbox-inline,
  .radio-inline + .radio-inline {
    margin-top: 5px;
    margin-left: 0;
  }
}
/* 
   Breadcrumbs
   ----------- */

.breadcrumb {
  background-color: transparent;
  font-size: 14px;
  padding-left: 0;
  margin-bottom: 0;
}

.breadcrumb a {
  color: #fff;
  text-decoration: none;
}

.breadcrumb a:hover,
.breadcrumb a:focus {
  color: rgba(255, 255, 255, 0.7);
}
/* 
   Navbar
   ------ */

.navbar-default {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.05);
  padding: 15px 0;
  padding-top: 24px;
}

.navbar-toggle {
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  border-radius: 3px;
}

.navbar-brand {
  padding: 0 15px;
  height: auto;
}
.navbar-brand img {
  width: 110px;
}

.dropdown-menu {
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #f0f0f0;
}

.dropdown-menu .divider {
  background-color: #f0f0f0;
}

.dropdown-header {
  font-size: 11px;
  color: #cbcbcb;
  text-transform: uppercase;
}

.dropdown-menu > li > a {
  padding: 5px 20px;
  padding-right: 40px;
  color: #737373;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}
/* 
   Nav Tabs
   -------- */

.nav-center {
  text-align: center;
}

.nav-center ul.nav {
  display: inline-block;
}

.nav-center ul.nav li {
  display: inline;
}

.nav-center ul.nav li a {
  float: left;
}
/* 
   Modal box
   -------------- */

.modal-content {
  border-radius: 3px;
}

.modal-transparent .modal-content {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  border: 0;
}

@media (min-width: 768px) {
  .modal-sm {
    width: 450px;
  }
  .modal-content {
    -webkit-box-shadow: 0 0px 50px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 50px rgba(0, 0, 0, 0.2);
  }
  .modal-dialog {
    margin: 80px auto;
  }
}
/* 
   Collapsible Panels
   ------------------ */

.panel-group .panel {
  box-shadow: inherit;
  border-width: 1px;
  margin-bottom: 20px;
  border-color: #f7f7f7;
}

.panel-default > .panel-heading {
  background: transparent;
  padding: 0;
}

.panel-title {
  text-transform: uppercase;
  font-size: 12px;
}

.panel-title > a {
  display: block;
  position: relative;
  padding: 15px;
}

.panel-title > a:hover,
.panel-title > a:focus {
  text-decoration: none;
}

.panel-title > a:focus {
  outline: inherit;
}

.panel-title > a:before {
  background: url("../images/collapse.png") no-repeat 0 -2px;
  content: "";
  display: block;
  height: 14px;
  position: absolute;
  right: 14px;
  top: 17px;
  width: 14px;
}

.panel-title > a.collapsed:before {
  background-position: 0 -33px;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-color: #f7f7f7;
}
/* 
   Pace Preloader
   -------------- */

.preloader {
  position: fixed;
  width: 100%;
  height: 2px;
  z-index: 9999999;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 9999999;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 1s ease-in-out 1s linear;
  -moz-transition: width 1s ease-in-out 1s linear;
  -ms-transition: width 1s ease-in-out 1s linear;
  -o-transition: width 1s ease-in-out 1s linear;
  transition: width 1s ease-in-out 1s linear;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  max-width: 100%;
  position: fixed;
  z-index: 9999999;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  background: #f76d53;
}

.pace.pace-inactive {
  display: none;
}
/* 
   Back to Top
   ----------- */

.back_to_top {
  display: none;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.back_to_top:hover {
  opacity: 0.5;
}
/* 
   Map SVG
   ----------- */

.map-ec {
  display: block;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  color: #d4d4d4;
  
  filter: drop-shadow(0 1px 3px rgba(138, 138, 138, 0.7));
}

.map-ec g a {
  color: #d4d4d4;
  text-decoration: none;
}

.map-ec g a:hover {
  color: rgb(255, 142, 42);
  cursor: pointer;

  transform: scale(1.01);
  transition: all 0.2s ease-in-out;
}
/*
   Utilites
   -------- */
/* Vertical Rhythm */

.vertical-space {
  margin: 20px 0;
}

.horizontal-space {
  margin: 0 20px;
}

.left-space {
  margin-left: 20px;
}

.right-space {
  margin-right: 20px;
}

.top-space {
  margin-top: 20px;
}

.bottom-space {
  margin-bottom: 20px;
}

.no-top-space {
  margin-top: 0;
}

.no-bottom-space {
  margin-bottom: 0;
}

.no-left-space {
  margin-left: 0;
}

.no-right-space {
  margin-right: 0;
}
/* lg - large */

.vertical-space-lg {
  margin: 40px 0;
}

.horizontal-space-lg {
  margin: 0 40px;
}

.left-space-lg {
  margin-left: 40px;
}

.right-space-lg {
  margin-right: 40px;
}

.top-space-lg {
  margin-top: 40px;
}

.bottom-space-lg {
  margin-bottom: 40px;
}
/* xl - Extra large */

.vertical-space-xl {
  margin: 80px 0;
}

.horizontal-space-xl {
  margin: 0 80px;
}

.left-space-xl {
  margin-left: 80px;
}

.right-space-xl {
  margin-right: 80px;
}

.top-space-xl {
  margin-top: 80px;
}

.bottom-space-xl {
  margin-bottom: 80px;
}
/* sm - small */

.vertical-space-sm {
  margin: 10px 0;
}

.horizontal-space-sm {
  margin: 0 10px;
}

.left-space-sm {
  margin-left: 10px;
}

.right-space-sm {
  margin-right: 10px;
}

.top-space-sm {
  margin-top: 10px;
}

.bottom-space-sm {
  margin-bottom: 10px;
}
/* ================================================
   Header
   ================================================ */

.header {
  position: relative;
  padding: 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.header_top-bg {
  background: url("../images/header_graphic_1.png") no-repeat top center;
  min-height: 155px;
  padding: 80px 0 50px;
}

.header_bottom-bg {
  background: url("../images/header_graphic_2.png") no-repeat bottom center;
  min-height: 155px;
  padding: 20px 0 100px;
}

.headline-support {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 600;
}

.when_where {
  padding: 30px 0;
}

.event_when {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
}

.event_where {
  color: rgba(255, 255, 255, 0.8);
}

.cta_urgency {
  padding: 10px 0;
  color: rgba(255, 255, 255, 0.8);
}
/* 
 Sub page
 -------- */

.sub-header {
  position: relative;
  padding: 80px 0 30px;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.header small,
.sub-header small {
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 767px) {
  .header small,
  .sub-header small {
    display: block;
    margin-top: 5px;
  }
}

.page-title {
  margin-bottom: 5px;
}

.page-title small {
  font-weight: 300;
  font-size: 50%;
}
/* 
 Reveal Menu
 ----------- */

.reveal-menu {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.reveal-menu-hidden {
  top: -100%;
}

.reveal-menu-visible {
  top: 0;
}
/* 
 Header Parallax
 --------------- */

.header.parallax-bg {
  background: url("../images/flisol-gye-bg5.jpg") no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
}

.parallax-bg .header_top-bg,
.parallax-bg .header_bottom-bg {
  background: none;
}
/* 
 Header Slider
 --------------- */

.header.slider-bg {
  background: url("../images/slider-bg.jpg") no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
}

.header-wrap {
  padding: 100px 0 40px;
}

.slide-item {
  margin: 50px 0;
}

.slider-excerpt {
  max-width: 850px;
  margin: 0 auto 30px;
}

.background-opacity {
  z-index: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.font-50 {
  font-size: 50px;
}

.font-80 {
  font-size: 80px;
}
/* 
 Header Video
 ------------ */

.video-header {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url(../video/event-video.jpg) no-repeat;
  background-size: cover;
}

.header-video-module {
  position: relative;
}

.header-video-module .header {
  background: none;
  z-index: 10;
}

.header-video-module .header_top-bg,
.header-video-module .header_bottom-bg {
  background: none;
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.video-container .filter {
  z-index: 9;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* ================================================
   Countdown Timer
   ================================================ */

.countdown_wrap {
  margin-top: 40px;
}

.countdown_wrap p {
  font-size: 22px;
  margin-bottom: 0;
}

.countdown,
.countdown li {
  list-style: none;
}

.countdown {
  padding: 0;
  margin-bottom: 10px;
  text-align: center;
}

.countdown li {
  display: inline-block;
  width: 104px;
  text-align: center;
  background: #fff;
  padding: 15px 5px;
  margin-right: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.countdown li span {
  font-size: 40px;
  font-weight: bold;
  color: #3b3b3b;
  height: 108px;
  line-height: 1;
  position: relative;
  font-family: "Montserrat", Arial, sans-serif;
}

.countdown li p {
  margin-top: 5px;
  color: #8a8a8a;
  text-transform: uppercase;
  font-size: 0.875em;
}

.countdown_title {
  margin: 20px 0;
}
.countdown.countdown--small li {
  width: 40px;
  padding: 5px;
}
.countdown.countdown--small li span {
  font-size: 30px;
}
.countdown.countdown--small li p {
  font-size: 1rem;
}
/* ================================================
   ADD TO CALENDAR
   ================================================ */
/* Base */

.addtocalendar var {
  display: none;
}

.addtocalendar {
  position: relative;
  display: inline-block;
  background: transparent !important;
}

.atcb-link {
  display: block;
  outline: none !important;
  cursor: pointer;
}

.atcb-link:focus ~ ul,
.atcb-link:active ~ ul,
.atcb-list:hover {
  visibility: visible;
}

.atcb-list {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: 225px;
  z-index: 900;
}

.atcb-list,
.atcb-item {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #fff;
}

.atcb-item {
  float: none;
  text-align: left;
}

.atcb-item-link {
  text-decoration: none;
  outline: none;
  display: block;
}

.atcb-item.hover,
.atcb-item:hover {
  position: relative;
  z-index: 900;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}
/* theme */

.atc-style-theme .atcb-link {
  margin: 0;
  padding: 7px 25px;
  color: #8c8c8c;
  border: solid 2px #cacaca;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  outline: none;
  line-height: 20px;
  vertical-align: middle;
  background: transparent;
  border-radius: 3px;
  text-transform: uppercase;
  zoom: 1;
}

.atc-style-theme .atcb-link:hover,
.atc-style-theme .atcb-link:active,
.atc-style-theme .atcb-link:focus {
  border-color: #818181;
  color: #8c8c8c;
}

.atc-style-theme .atcb-list {
  width: 225px;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
}

.atc-style-theme .atcb-list,
.atc-style-theme .atcb-item {
  background: #fff;
  color: #000;
}

.atc-style-theme .atcb-item,
.atc-style-theme .atcb-item-link {
  line-height: 1.3em;
  vertical-align: middle;
  zoom: 1;
}

.atc-style-theme .atcb-item-link,
.atc-style-theme .atcb-item-link:hover,
.atc-style-theme .atcb-item-link:active,
.atc-style-theme .atcb-item-link:focus {
  color: #000;
  font-size: 14px;
  text-decoration: none;
  outline: none;
  padding: 10px 20px;
}

.atc-style-theme .atcb-item-link:hover,
.atc-style-theme .atcb-item-link:active,
.atc-style-theme .atcb-item-link:focus {
  /*color: #fff;*/
}

.atc-style-theme .atcb-item.hover,
.atc-style-theme .atcb-item:hover {
  background: #efefef;
}
/* ================================================
   Registration Form
   ================================================ */

.registration-form {
  padding: 15px;
}
.eventbrite-wrapper iframe {
  width: 100%;
  border: 0;
  overflow: auto;
}

/* ================================================
   Section video
   ================================================ */
.align {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  flex-wrap: wrap;
}
.align h4 {
  text-align: center;
}
.col-left {
  margin: 3rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.container-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-orange {
  background-color: #ff8e2a;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-orange:active,
.btn-orange:focus,
.btn-orange:hover {
  color: #ffffff;
  background-color: #f4ab69;
  text-decoration: none;
}

.btn-red {
  background-color: #d50000;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-red:active,
.btn-red:focus,
.btn-red:hover {
  color: #ffffff;
  background-color: #f44336;
  text-decoration: none;
}

.text-justify {
  text-align: justify;
}
@media only screen and (min-width: 1170px) {
  .align {
    flex-wrap: nowrap;
  }
  .col-left {
    margin: 0 2rem;
  }
}
/* ================================================
   Sections
   ================================================ */

.highlight {
  background: #f1f1f1;
  padding: 30px 0;
}

.section-title {
  text-align: center;
  margin: 70px 0 40px;
}

.highlight .section-title {
  text-align: center;
  margin-top: 40px;
}

.section-title.top-space-sm {
  margin-top: 15px;
}

.section-title p {
  max-width: 450px;
  margin: 0 auto;
}
/* ================================================
   Speakers
   ================================================ */

.speaker-info {
  text-align: center;
  margin-bottom: 20px;
}

.speaker-info img {
  border-radius: 50%;
}

.speaker-info p {
  font-weight: 600;
  font-size: 18px;
  margin: 15px 0 0;
  line-height: 1;
}

.speaker-info span {
  font-size: 13px;
}

.speaker-slider .slick-prev,
.speaker-slider .slick-next {
  top: 40%;
}
/* ================================================
   Schedule
   ================================================ */

.nav-pills > li > a {
  background-color: #eee;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-pills > li > a:hover {
  background-color: #e7e7e7;
}

.nav-pills > li + li {
  margin-left: 0;
}

.nav-pills > li:not(:first-child):not(:last-child) a {
  border-radius: 0;
}

.nav-pills > li:first-child > a {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.nav-pills > li:last-child > a {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* 
   Vertical Timeline
   ----------------- */

.timeline {
  position: relative;
  padding: 0;
  margin-top: 2em;
  margin-bottom: 0;
}

.timeline::before {
  /* this is the vertical line */

  content: "";
  position: absolute;
  top: 0;
  left: 6px;
  height: 100%;
  width: 3px;
}

@media only screen and (min-width: 1170px) {
  .timeline {
    margin-top: 3em;
    margin-bottom: 0;
  }
  .timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.timeline-block {
  position: relative;
  margin: 1em 0;
}

.timeline-block:after {
  content: "";
  display: table;
  clear: both;
}

.timeline-block:first-child {
  margin-top: 0;
}

.timeline-block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  .timeline-block {
    margin: 2em 0;
  }
  .timeline-block:first-child {
    margin-top: 0;
  }
  .timeline-block:last-child {
    margin-bottom: 0;
  }
}

.timeline-bullet {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid;
  background: #fff;
}

@media only screen and (min-width: 1170px) {
  .timeline-bullet {
    width: 15px;
    height: 15px;
    left: 50%;
    margin-left: -8px;
    /* Force Hardware Acceleration in WebKit */

    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}

.timeline-content {
  position: relative;
  margin-left: 35px;
  min-height: 50px;
  margin-bottom: 10px;
}

.timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

.timeline-content h2 {
  font-size: 18px;
  margin: 0;
}

.timeline-content p,
.timeline-content .date {
  font-size: 13px;
}

.timeline-content .date {
  display: inline-block;
}

.timeline-content p {
  margin: 5px 0;
  line-height: 1.6;
  color: #b3b3b3;
}

.no-touch .timeline-content .read-more:hover {
  background-color: #bac4cb;
}

.timeline-content .date {
  float: left;
  padding: 0;
  opacity: 0.7;
  font-weight: 600;
  color: #717171;
  width: 100%;
}
.timeline-content .location {
  color: #717171;
  opacity: 0.7;
  font-size: 14px;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .timeline-content {
    margin-left: 60px;
  }
  .timeline-content h2 {
    font-size: 18px;
    line-height: 1;
  }
  .timeline-content p {
    font-size: 14px;
    line-height: 1;
  }
  .timeline-content .read-more,
  .timeline-content .date {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1170px) {
  .timeline-content {
    margin-left: 0;
    width: 47.3%;
  }
  .timeline .timeline-block:nth-child(odd) .timeline-content h2,
  .timeline .timeline-block:nth-child(odd) .timeline-content p {
    text-align: right;
  }
  .timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .timeline-content .read-more {
    float: left;
  }
  .timeline-content .date {
    position: absolute;
    width: 100%;
    left: 112%;
    top: 0;
    font-size: 14px;
  }
  .timeline-content .location {
    position: absolute;
    width: 100%;
    left: 112%;
    top: 18px;
  }

  .timeline-block:nth-child(even) .timeline-content {
    float: right;
  }
  .timeline-block:nth-child(even) .timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .timeline-block:nth-child(even) .timeline-content .read-more {
    float: right;
  }
  .timeline-block:nth-child(even) .timeline-content .date {
    left: auto;
    right: 112%;
    text-align: right;
  }
  .timeline-block:nth-child(even) .timeline-content .location {
    left: auto;
    right: 112%;
    text-align: right;
  }
}
/* ================================================
   What to Expect : benefits
   ================================================ */

.benefit-item {
  margin-bottom: 30px;
}

.benefit-item img {
  float: left;
}

.benefit-item .benefit-icon {
  float: left;
  font-size: 40px;
  margin: 0 15px;
}

.benefit-item .benefit-title,
.benefit-item p {
  margin-left: 80px;
}
/* ================================================
   Our Stats
   ================================================ */

.our-stats {
  margin: 50px 0 20px;
}

.stats-info {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .stats-info {
    margin-bottom: 15px;
  }
}

.stats-info .fa {
  font-size: 30px;
  color: #dcdcdc;
}

.stats-info h2 {
  margin: 10px 0 0;
}

.stats-info p {
  color: #c2c2c2;
  line-height: 1;
}
/* ================================================
   Embed Twitter Cards
   ================================================ */

.embed_twitter iframe {
  margin: 0 auto !important;
}

.embed-tweet-item {
  min-height: 200px;
  margin-bottom: 20px;
}
/* ================================================
   Testimonials
   ================================================ */

.testblock {
  width: 100%;
  height: auto;
  padding: 20px;
  background: #f6f6f6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  position: relative;
  line-height: 28px;
  font-size: 16px;
}

.testblock:after {
  top: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #f6f6f6;
  border-width: 15px;
  margin-left: -15px;
}

.clientblock {
  margin-top: 40px;
  margin-left: 10px;
}

.clientblock img {
  float: left;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.clientblock p {
  padding-left: 80px;
  padding-top: 13px;
}

.clientblock p strong {
  color: #384047;
  font-size: 16px;
}
/* ================================================
   Sponsors
   ================================================ */

.sponsor-slider .slick-center img {
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  -webkit-transform: scale(1.08);
  color: #e67e22;
  opacity: 1;
  transform: scale(1.08);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
}

.sponsor-slider img {
  transition: all 300ms ease;
  opacity: 0.3;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */

  filter: gray;
  /* IE6-9 */

  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
/* ================================================
   Gallery
   ================================================ */

.popup-gallery {
  margin-bottom: 50px;
}

.popup-gallery a {
  display: block;
  margin-bottom: 35px;
  cursor: pointer;
  cursor: zoom-in;
}

.media-thumb {
  margin: 30px 0;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.play-video {
  cursor: pointer;
}

.play-video p {
  text-transform: uppercase;
  text-align: center;
  padding: 5px 0;
  background: transparent;
  border: solid 5px transparent;
  color: #a0a0a0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.play-video:hover p {
  background: #fff;
  border: solid 5px #fff;
  color: #333;
}

.play-video:hover img {
  opacity: 0.7;
}

.play-video {
  position: relative;
}

.play-video .video-loader {
  position: absolute;
  top: 33%;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  font-weight: 600;
}

@media (max-width: 767px) {
  .media-video iframe {
    width: 100%;
  }
}
/* ================================================
   Accommodation
   ================================================ */

.thumbnail {
  text-align: center;
  padding: 0;
  margin-bottom: 50px;
  border: 1px solid #ececec;
  border-radius: 3px;
  -moz-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.thumbnail:hover {
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);
}

.caption-title {
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.caption-text {
  line-height: 1;
  font-size: 14px;
  color: #c2c2c2;
  margin-bottom: 20px;
}
/* ================================================
   Pricing
   ================================================ */

.pricing-item {
  padding: 25px;
  border: solid 3px #f2f2f2;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 25px;
}

.pricing-item .plan-name {
  text-transform: uppercase;
  font-weight: 600;
}

.pricing-item .price {
  font-size: 60px;
  font-weight: 700;
  margin: 10px 0;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.4;
}

.pricing-item .plan-features {
  opacity: 0.7;
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}

.pricing-item .price .curr {
  display: inline-block;
  font-size: 30px;
  vertical-align: super;
  font-weight: 400;
}

.pricing-item {
  -moz-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
/* ================================================
   FAQ
   ================================================ */

.faq {
  margin-bottom: 60px;
}

.faq-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 600;
}
/* ================================================
   Subscribe
   ================================================ */

.susbcribe-head {
  margin: 0;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 20px;
}

.susbcribe-head small {
  display: block;
  color: #c2c2c2;
  font-weight: normal;
}

.inverted-form .help-block,
.inverted-form .has-error .help-block {
  color: #fff !important;
}

@media (min-width: 768px) {
  .subscribe-form .form-group {
    margin-bottom: 0;
  }
  .susbcribe-head {
    margin: 0;
    text-align: left;
  }
  .susbcribe-head span {
    display: block;
  }
}
/* ================================================
   Location Map
   ================================================ */

.map {
  height: 325px;
}

#elm_82 {
  /*width:100%!important;*/
}

.gm-style > div > div {
  /* Overlay color */

  height: 100%;
}

.gm-style img {
  /* Fix tooltip */

  max-width: none;
}

.gm-style div {
  /* Fix tooltip */

  border-style: none;
}

.gm-style > div.gmnoprint {
  /* display: none; */
}

.gm-style > div > a {
  /* display: none !important; */
}

.infoBox {
  text-align: center;
}

.infobox-inner {
  display: inline-block;
  padding: 6px 14px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.infobox-inner:after,
.infobox-inner:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border: solid transparent;
  content: " ";
  pointer-events: none;
}

.infobox-inner:after {
  margin-left: -10px;
  border-width: 10px;
  border-color: rgba(0, 0, 0, 0);
}

.infobox-inner:before {
  margin-left: -10px;
  border-width: 10px;
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: #fff;
}

.directions-results {
  max-height: 170px;
  min-height: 170px;
  overflow-y: auto;
  padding: 10px;
  border: solid 1px #f0f0f0;
}

.direction-text {
  padding: 30px 10px;
  text-align: center;
  color: #c2c2c2;
}

@media (min-width: 768px) {
  .direction-text {
    padding: 45px 100px;
  }
}

@media (max-width: 767px) {
  .checkbox-inline + .checkbox-inline,
  .radio-inline + .radio-inline {
    margin-left: 0;
  }
  .checkbox-inline,
  .radio-inline {
    width: 100%;
  }
}
/* ================================================
   Contact
   ================================================ */

.contact-box {
  background: #fff;
  border-radius: 3px;
  padding: 10px 30px;
  margin: 20px 0;
}

@media (min-width: 992px) {
  .contact-box img {
    float: right;
    padding: 40px 20px;
  }
}

@media (max-width: 992px) {
  .contact-box {
    text-align: center;
  }
  .contact-box img {
    float: none;
    padding: 20px;
  }
}
/* ================================================
   Footer CTA
   ================================================ */

.footer-action {
  background: #f1f1f1;
  text-align: center;
  padding-top: 60px;
}

.footer_bottom-bg {
  background: url("../images/footer_bg_light.png") no-repeat bottom center;
  min-height: 155px;
  padding: 20px 0 100px;
}

.footer-action .headline {
  margin-top: 0;
}

.footer-action .headline-support {
  color: #818181;
}
/* ================================================
   Footer
   ================================================ */

footer {
  text-align: center;
  padding: 40px 0 30px;
}

.social-icons {
  padding-bottom: 20px;
}

.social-icons a {
  display: inline-block;
  padding: 0 5px;
}

.social-icons a i {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.2);
  font-size: 1.55em;
  width: 2.15em;
  height: 2.15em;
  line-height: 2.15em;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  margin: 0;
}

.social-icons a:hover {
  opacity: 0.8;
}
/* ================================================
   Blog
   ================================================ */

.post-wrap,
.blog-content {
  margin: 50px 0;
}

.post-entry,
.entry-image {
  margin-bottom: 40px;
}

.post-heading {
  margin-top: 0;
  margin-bottom: 5px;
}

.post-meta {
  font-size: 13px;
}

.post-excerpt {
  margin-bottom: 13px;
}

.sidebar {
  margin: 50px 0;
}

.sidebar-widget {
  margin-bottom: 30px;
}

.pagination > li > a,
.pagination > li > span {
  color: #6f6f6f;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #a3a3a3;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #e6e6e6;
  border-color: #d2d2d2;
  color: #6e6e6e;
}

.vertical-links li {
  border-bottom: 1px solid #e6ddd4;
  padding: 8px 0;
}

.tag-cloud a {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 2px 8px;
  border: 1px solid #eceae4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  color: #c2c2c2;
  font-size: 12px;
}

.tag-cloud a:hover {
  text-decoration: none;
}

.comments-title {
  margin: 0 0 20px;
  padding-bottom: 10px;
}

.comments {
  position: relative;
  margin-top: 50px;
  padding-top: 30px;
  border-top: 1px solid #eee;
}

.comments-list {
  list-style: none;
  padding-bottom: 50px;
  margin: 0 0 50px;
  border-bottom: 1px solid #eee;
}

.comments-list ul {
  list-style: none;
}

.comments-list li,
.comments-list li ul,
.comments-list li ul li {
  margin: 30px 0 0 0;
}

.comments-list ul:first-child {
  margin-top: 0;
}

.comments-list li {
  position: relative;
  margin: 30px 0 0 30px;
}

.comment-wrap {
  position: relative;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 20px 20px 20px 35px;
}

.comments-list ul .comment-wrap {
  margin-left: 25px;
  padding-left: 20px;
}

.comments-list > li:first-child {
  padding-top: 0;
  margin-top: 0;
}

.comments-list li .children {
  margin-top: 0;
}

.comments-list li li .children {
  margin-left: 30px;
}

.comments-list li .comment-content,
.pingback {
  position: relative;
  overflow: hidden;
}

.comments-list li .comment-content p,
.pingback p {
  margin: 20px 0 0 0;
}

.comments-list li .comment-content {
  padding: 0 0 0 15px;
}

.comments-list li .comment-meta {
  float: left;
  margin-right: 0;
  line-height: 1;
}

.comment-avatar {
  position: absolute;
  top: 15px;
  left: -35px;
  padding: 4px;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
}

.comment-avatar img {
  display: block;
  border-radius: 50%;
}

.comments-list li .children .comment-avatar {
  left: -25px;
}

.comment-content .comment-author {
  margin-bottom: -10px;
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

.comment-content .comment-author a {
  border: none;
  color: #333;
}

.comment-content .comment-author a:hover {
  color: #363636;
}

.comment-content .comment-author span {
  display: block;
}

.comment-content .comment-author span,
.comment-content .comment-author span a {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  color: #aaa;
}

.comment-content .comment-author span a:hover {
  color: #888;
}

.comment-reply-link,
.review-comment-ratings {
  display: block;
  position: absolute;
  top: 4px;
  left: auto;
  text-align: center;
  right: 0px;
  width: 14px;
  height: 14px;
  color: #ccc;
  font-size: 14px;
  line-height: 1;
}

.comment-reply-link:hover {
  color: #888;
}

/*Utils*/
.color-dark {
  color: #5c5c5c;
}
.bg-dark {
  background-color: #333;
}
.m-auto {
  margin: auto;
}
.mb-3 {
  margin-bottom: 1rem;
}
.img-comunidades {
  max-height: 120px;
}
.img-sponsors {
  max-height: 60px;
}
.fw-600 {
  font-weight: 600;
}
.row-v-center {
  display: flex;
  align-items: center;
}
.channel_container {
  display: table;
}
.channel_cell {
  display: table-cell;
  vertical-align: top;
  padding-left: 2%;
  padding-right: 2%;
}
.channel_description {
  font-style: italic;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
#btn_registro_ponente,
#btn_registro_asistente {
  padding: 10px 28px;
  font-size: 25px;
  text-align: center;
}
#aliados {
  margin-left: auto;
  margin-right: auto;
}
