/* 
   COLOR PALLETTES : Orange
   ------------------------------------------------
  
   Orange 1       : #ff8e2a;
   Dark Grey      : #3b3b3b;
   Medium Grey    : #5c5c5c;
   Light Grey     : #818181;
   Lightest Grey  : #C2C2C2;
   White          : #ffffff;

   
   */
/* ================================================
   THEME SPECIFIC STYLES : VISUAL STYLES ONLY
   ================================================ */
/*White bg*/
.color-theme {
  color: #ff8e2a;
}
.bg-theme {
  color: #ff8e2a;
}

body,
.pace .pace-progress {
    background: #FFF;
}
/*Grey*/

body,
.timeline-content h2 {
    color: #5c5c5c;
}

.nav-pills>li>a {
    color: #C2C2C2;
}

.form-control:focus {
    border-color: #C2C2C2;
}

.navbar-default .navbar-nav>li>a {
    color: #818181;
}

.slick-prev:before,
.slick-next:before {
    color: #C2C2C2;
}
/* Yellow
 * ----- */

::-moz-selection {
    background: #ff8e2a;
    color: #FFF;
}

::selection {
    background: #ff8e2a;
    color: #FFF;
}

/* .header, */
.sub-header {
    /*color: #594B18;*/
    background-color: #ff8e2a;
}
.header--light {
    background-color: rgba(241, 125, 2, 0.1);
}

/*color*/

a,
a:hover,
a:focus,
.speaker-info p,
.highlighted-plan .price,
.highlighted-plan .plan-name {
    color: #ff8e2a;
}

.benefit-item .benefit-icon i {
    color: #ff8e2a;
}
/*background*/

.timeline::before {
    background: #ff8e2a;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #FFF;
    background-color: #ff8e2a;
}
/*border*/

.timeline-bullet,
.highlighted-plan {
    border-color: #ff8e2a;
}
/*background color*/

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: #ff8e2a;
}
/* 
  BUTTONS
  ------- */

.btn-default {
    color: #ff8e2a;
    border-color: #FFF;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
    background-color: transparent;
    border-color: #FFF;
    color: #FFF;
}

.btn-primary {
    background-color: #5c5c5c;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    background-color: #3b3b3b;
}

.btn-success {
    background-color: #ff8e2a;
    border-color: #ff8e2a;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
    background-color: #FFF;
    border-color: #ff8e2a;
    color: #ff8e2a;
}

.btn-outline {
    color: #8C8C8C;
    border-color: #CACACA;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    background-color: transparent;
    border-color: #818181;
    color: #8C8C8C;
}
