<div class="social-icons">
  <a
    href="https://twitter.com/hashtag/Flisol2024Ecuador"
    class="wow zoomIn"
    target="_blank"
  >
    <i class="fab fa-twitter"></i>
  </a>

  <a
    href="https://www.facebook.com/hashtag/Flisol2024Ecuador"
    class="wow zoomIn"
    target="_blank"
  >
    <i class="fab fa-facebook"></i>
  </a>
  <a
    href="https://www.instagram.com/explore/tags/Flisol2024Ecuador"
    class="wow zoomIn"
    target="_blank"
  >
    <i class="fab fa-instagram"></i>
  </a>
  <a
    href="https://gitlab.com/flisol_ecuador"
    class="wow zoomIn"
    target="_blank"
  >
    <i class="fab fa-gitlab"></i>
  </a>
</div>
<p>
  <small class="text-muted">
    <img src="images/cc-license.png" alt="back to top" width="60" /><br />
    Festival Latinoamericano de Instalación de Software Libre</small
  >
</p>
