<div class="container">
  <div>
    <iframe
      src="https://openlab.ec/webform/convocatoria_abierta_para_ponen/share"
      title="Convocatoria abierta para participar en el FLISoL 2024 | Fundación Openlab Ecuador"
      class="webform-share-iframe"
      frameborder="0"
      allowtransparency="true"
      allowfullscreen="true"
      style="width: 100%; height: 1300px; border: none"
    ></iframe>
  </div>

  <!-- Modal Registro Asistente -->
  <div
    class="modal fade"
    id="mdl_registro_asistentes"
    tabindex="-1"
    role="dialog"
    aria-labelledby="PONENTES"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
          <h4 class="modal-title" id="mdl_registro_asistentes_label">
            REGISTRO DE PONENTES
          </h4>
        </div>
        <div class="modal-body">
          <!-- iFrame-->
          <iframe
            src="https://openlab.ec/webform/convocatoria_abierta_flisol2023/share"
            title="Convocatoria abierta para participar en el FLISoL 2023 | Fundación Openlab Ecuador"
            class="webform-share-iframe"
            frameborder="0"
            allowtransparency="true"
            allowfullscreen="true"
            style="width: 100%; height: 1300px; border: none"
          ></iframe>
          <!-- iFrame-->
        </div>
        <div class="modal-footer">
          <a
            type="button"
            class="btn btn-primary"
            href="https://flisol.ec"
            target="_blank"
            >Ir a la página</a
          >
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Cerrar
          </button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</div>
