<hr />
<br />
<br />
<div class="container">
  <div class="-header_top-bg">
    <div class="logo">
      <a href="#"
        ><img
          class="img-responsive m-auto"
          src="images/flisol-banner-social.png"
          alt="Logo FLISOL"
      /></a>
    </div>
  </div>

  <h1 class="headline wow fadeInDown color-dark" data-wow-delay="0.1s">
    Charlas, Talleres, Install Fest
  </h1>

  <div class="when_where wow fadeIn" data-wow-delay="0.4s">
    <p class="event_when color-dark">
      El evento de difusión de Software Libre más grande en América Latina
    </p>
  </div>
</div>
<div class="header_bottom-bg"></div>
