<div class="container">
  <div class="section-title wow fadeInUp">
    <h3>Conoce las sedes participantes</h3>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail wow fadeInUp">
          <img src="images/azoges1.png" alt="Texto" />
          <div class="caption">
            <h4 class="caption-title">Azogues</h4>
            <p>19 de abril</p>
            <p class="text-center">
              <a
                href="https://flisol.info/FLISOL2024/Ecuador/Azogues"
                class="btn btn-outline"
                role="button"
                target="_blank"
                >Visitar Sede</a
              >
            </p>
          </div>
        </div>
      </div>
      <!-- SEDE CUENCA -->
      <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
        <div class="thumbnail wow fadeInUp">
          <img src="images/thumbnalis-cuenca.png" alt="Texto" />
          <div class="caption">
            <h4 class="caption-title">Cuenca</h4>
            <p>27 de abril</p>
            <p class="text-center">
              <a
                href="https://flisol.info/FLISOL2024/Ecuador/Cuenca"
                class="btn btn-outline"
                role="button"
                target="_blank"
                >Visitar Sede</a
              >
            </p>
          </div>
        </div>
      </div>

      <!-- SEDE CUENCA -->
      <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
        <div class="thumbnail wow fadeInUp">
          <img src="images/latacunga_2022.jpg" alt="Texto" />
          <div class="caption">
            <h4 class="caption-title">Latacunga</h4>
            <p>27 de abril</p>
            <p class="text-center">
              <a
                href="https://flisol.info/FLISOL2024/Ecuador/Latacunga"
                class="btn btn-outline"
                role="button"
                target="_blank"
                >Visitar Sede</a
              >
            </p>
          </div>
        </div>
      </div>

      <!-- <div class="col-sm-6 col-md-4">
        <div class="thumbnail wow fadeInUp">
          <img src="images/thumbnalis-riobamba.png" alt="Texto" />
          <div class="caption">
            <h4 class="caption-title">Riobamba</h4>
            <p class="text-center">
              <a
                href="https://flisol.info/FLISOL2022/Ecuador/Riobamba"
                class="btn btn-outline"
                role="button"
                >Visitar Sede</a
              >
            </p>
          </div>
        </div>
      </div> -->
    </div>

    <div class="row">
      <!-- <div class="col-sm-6 col-md-4">
          <div class="thumbnail wow fadeInUp">
            <img src="images/thumbnalis-esmeraldas.png" alt="Texto" />
            <div class="caption">
              <h4 class="caption-title">Esmeraldas</h4>
              <p class="text-center">
                <a href="https://flisol.info/FLISOL2022/Ecuador/Esmeraldas" class="btn btn-outline"
                  role="button">Visitar Sede</a>
              </p>
            </div>
          </div>
        </div> -->
    </div>
    <!-- end row -->

    <!-- new row -->
    <div class="row">
      <!-- SEDE LOJA -->
      <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
        <div class="thumbnail wow fadeInUp">
          <img src="images/thumbnalis-loja.png" alt="Texto" />
          <div class="caption">
            <h4 class="caption-title">Loja</h4>
            <p>18 de mayo</p>
            <p class="text-center">
              <a
                href="https://flisol.info/FLISOL2024/Ecuador/Loja"
                class="btn btn-outline"
                role="button"
                target="_blank"
                >Visitar Sede</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail wow fadeInUp">
          <img src="images/thumbnalis-guayaquil.png" alt="Texto" />
          <div class="caption">
            <h4 class="caption-title">Guayaquil</h4>
            <p>1 de junio</p>
            <p class="text-center">
              <a
                href="https://flisol.info/FLISOL2024/Ecuador/Guayaquil"
                class="btn btn-outline"
                role="button"
                target="_blank"
                >Visitar Sede</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail wow fadeInUp">
          <img src="images/thumbnalis-ambato.png" alt="Texto" />
          <div class="caption">
            <h4 class="caption-title">Ambato</h4>
            <p>8 de junio</p>
            <p class="text-center">
              <a
                href="https://flisol.info/FLISOL2024/Ecuador/Ambato"
                class="btn btn-outline"
                role="button"
                target="_blank"
                >Visitar Sede</a
              >
            </p>
          </div>
        </div>
      </div>
      <!-- Sede Guaranda -->
      <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
        <div class="thumbnail wow fadeInUp">
          <img src="images/GUARANDA.JPG" alt="Texto" />
          <div class="caption">
            <h4 class="caption-title">Guaranda</h4>
            <p>15 de junio</p>
            <p class="text-center">
              <a
                href="https://flisol.info/FLISOL2024/Ecuador/Guaranda"
                class="btn btn-outline"
                role="button"
                target="_blank"
                >Visitar Sede</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
        <div class="thumbnail wow fadeInUp">
          <img src="images/thumbnalis-quito.png" alt="Texto" />
          <div class="caption">
            <h4 class="caption-title">Quito</h4>
            <p>22 de junio</p>
            <p class="text-center">
              <a
                href="https://flisol.info/FLISOL2024/Ecuador/Quito"
                class="btn btn-outline"
                role="button"
                target="_blank"
                >Visitar Sede</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
        <div class="thumbnail wow fadeInUp">
          <img src="images/thumbnalis-tena.png" alt="Texto" />
          <div class="caption">
            <h4 class="caption-title">Tena</h4>
            <p class="text-center">
              <a
                href="http://flisol.itstena.net/2023/index.php"
                class="btn btn-outline"
                role="button"
                >Visitar Sede</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row"></div>
  </div>
</div>
