<div class="container">
  <div class="navbar-header">
    <button
      type="button"
      class="navbar-toggle collapsed"
      data-toggle="collapse"
      data-target="#navbar"
      aria-expanded="false"
      aria-controls="navbar"
    >
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"
      ><img src="images/logo.svg" alt="Logo FLISOL" />
    </a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#top">Inicio</a></li>
      <li><a href="#forms">Registro</a></li>
      <li><a href="#channels">Canales</a></li>
      <li class="dropdown">
        <a
          href="#sedes"
          class="dropdown-toggle"
          data-toggle="dropdown"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Sedes<span class="caret"></span
        ></a>
        <ul class="dropdown-menu">
          <li>
            <a
              href="https://flisol.info/FLISOL2022/Ecuador/Guayaquil"
              target="_blank"
              >Guayaquil</a
            >
          </li>
          <li>
            <a
              href="https://flisol.info/FLISOL2022/Ecuador/Riobamba"
              target="_blank"
              >Riobamba</a
            >
          </li>
          <li>
            <a
              href="https://flisol.info/FLISOL2022/Ecuador/Quito"
              target="_blank"
              >Quito</a
            >
          </li>
          <li>
            <a
              href="https://flisol.info/FLISOL2022/Ecuador/Esmeraldas"
              target="_blank"
              >Esmeraldas</a
            >
          </li>
          <li>
            <a
              href="https://flisol.info/FLISOL2022/Ecuador/Ambato"
              target="_blank"
              >Ambato</a
            >
          </li>
          <li>
            <a href="http://flisol.itstena.net/2022/index.php" target="_blank"
              >Tena</a
            >
          </li>
          <li>
            <a
              href="https://flisol.info/FLISOL2022/Ecuador/Loja"
              target="_blank"
              >Loja</a
            >
          </li>
          <li>
            <a
              href="https://flisol.info/FLISOL2022/Ecuador/Cuenca"
              target="_blank"
              >Cuenca</a
            >
          </li>
          <li>
            <a
              href="https://flisol.info/FLISOL2022/Ecuador/Latacunga"
              target="_blank"
              >Latacunga</a
            >
          </li>
        </ul>
      </li>
      <li><a href="cdc.html">Código de Conducta</a></li>
    </ul>
  </div>
  <!--/.nav-collapse -->
</div>
