<div class="container">
  <div class="section-title wow fadeInUp">
    <h4>Aliados</h4>
  </div>
  <table id="aliados">
    <tr id="">
      <td>
        <a href="https://mule.to/p5kq" target="_blank"
          ><img
            src="https://www.stickermule.com/about/_next/static/public/logoColored.67e93281fc7b7837ca6c47a44ff7ea56.svg"
            alt="logo Mule"
            height="100px"
        /></a>
      </td>
      <td>
        <a href="https://openlab.ec/" target="_blank"
          ><img
            src="https://openlab.ec/sites/default/files/logos/logo1.svg"
            alt="logo Openlab"
        /></a>
      </td>
    </tr>
  </table>
</div>
