<div class="container">
    <div class="section-title wow fadeInUp">
      <h4 class="text-uppercase">Canales RocketChat</h4>
      <p>Si deseas ingresar a nuestro RocketChat, <br>haz click en el siguiente enlace:</p>
      <div>
        <img class="img-responsive m-auto" src="images/rocket-chat.svg" alt="Logo FLISOL"
          style="display: inline-block;" />
        <a href="https://chat.flisol.ec" target="_blank">chat.flisol.ec</a>
      </div>
    </div>

    <div class="nav-center">
      <ul class="nav nav-pills" role="tablist" id="schedule-tabs">
        <li role="presentation"><a href="#channel-presentate" aria-controls="channel-presentate" role="tab"
            data-toggle="tab">Preséntate</a></li>
        <li role="presentation"><a href="#channel-general" aria-controls="channel-general" role="tab"
            data-toggle="tab">General</a></li>
        <li role="presentation"><a href="#channel-anuncios" aria-controls="channel-anuncios" role="tab"
            data-toggle="tab">Anuncios</a></li>
        <li role="presentation"><a href="#channel-comunidades" aria-controls="channel-comunidades" role="tab"
            data-toggle="tab">Comunidades</a></li>
        <li role="presentation"><a href="#channel-desconferencias" aria-controls="channel-desconferencias" role="tab"
            data-toggle="tab">Desconferencias</a></li>
        <li role="presentation"><a href="#channel-sedes" aria-controls="channel-sedes" role="tab"
            data-toggle="tab">Sedes</a></li>
        <!--    <li role="presentation"><a href="#channel-support-fest" aria-controls="channel-support-fest" role="tab" data-toggle="tab">Support Fest</a></li>  --!>
      </ul>
  </div>

  <div class="tab-content">

    <div role="tabpanel" class="tab-pane" id="channel-presentate">
      <div class="align fadeInUp channel_container">
        <div class="channel_cell">
          <p class="channel_description">
            Es tu lugar de partida, aquí empieza todo y encontrarás indicaciones básicas para empezar.
          </p>
        </div>
        <iframe
          width="800"
          height="600"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <!-- end presentate .tabpanel -->

        <div role="tabpanel" class="tab-pane" id="channel-general">
          <div class="align fadeInUp channel_container">
            <div class="channel_cell">
              <p class="channel_description">
                Canal general donde nos encontramos todxs.
              </p>
            </div>
            <iframe width="800" height="600" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
        <!-- end general .tabpanel -->

        <div role="tabpanel" class="tab-pane" id="channel-anuncios">
          <div class="align fadeInUp channel_container">
            <div class="channel_cell">
              <p class="channel_description">
                Canal para anuncios acerca de los acontecimientos del evento.
              </p>
            </div>
            <iframe width="800" height="600" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
        <!-- end anuncios .tabpanel -->

        <div role="tabpanel" class="tab-pane" id="channel-comunidades">
          <div class="align fadeInUp channel_container">
            <div class="channel_cell">
              <p class="channel_description">
                Acá podrás encontrar a representantes, miembros, interesados de las distintas comunidades de software
                libre. Estas comunidades tendrán su propio grupo de discusión.
              </p>
            </div>
            <iframe width="800" height="600" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
        <!-- end comunidades .tabpanel -->

        <div role="tabpanel" class="tab-pane" id="channel-desconferencias">
          <div class="align fadeInUp channel_container">
            <div class="channel_cell">
              <p class="channel_description">
                Este canal es exclusivo para desarrollar las desconferencias que podrán surgir en el evento.
              </p>
            </div>
            <iframe width="800" height="600" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
        <!-- end desconferencias .tabpanel -->

        <div role="tabpanel" class="tab-pane" id="channel-sedes">
          <div class="align fadeInUp channel_container">
            <div class="channel_cell">
              <p class="channel_description">
                Acá puedes contactar a los coordinadores de las distintas sedes de FLISoL
              </p>
            </div>
            <iframe width="800" height="600" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
        <!-- end sedes .tabpanel -->
        <!--
    <div role="tabpanel" class="tab-pane" id="channel-support-fest">
      <div class="align fadeInUp channel_container">
        <div class="channel_cell">
          <p class="channel_description">
            Reliza tus consultas, busca ayuda. En este canal estarán especialistas que podrán darte una mano en asuntos técnicos de software libre.
          </p>
        </div>
        <iframe
          width="800"
          height="600"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
-->
        <!-- end support-fest .tabpanel -->

    </div>
    <!-- end section.channels .container .tab-content -->

    <br>
  </div>

  <!-- script -->
  <div class="container">
    <div class="section-title wow fadeInUp">
      <h4 class="text-uppercase">Canales RocketChat</h4>
      <p>Si deseas ingresar a nuestro RocketChat, <br>haz click en el siguiente enlace:</p>
      <div>
        <img class="img-responsive m-auto" src="images/rocket-chat.svg" alt="Logo FLISOL"
          style="display: inline-block;" />
        <a href="https://chat.flisol.ec" target="_blank">chat.flisol.ec</a>
      </div>
    </div>

    <div class="nav-center">
      <ul class="nav nav-pills" role="tablist" id="schedule-tabs">
        <li role="presentation"><a href="#channel-presentate" aria-controls="channel-presentate" role="tab"
            data-toggle="tab">Preséntate</a></li>
        <li role="presentation"><a href="#channel-general" aria-controls="channel-general" role="tab"
            data-toggle="tab">General</a></li>
        <li role="presentation"><a href="#channel-anuncios" aria-controls="channel-anuncios" role="tab"
            data-toggle="tab">Anuncios</a></li>
        <li role="presentation"><a href="#channel-comunidades" aria-controls="channel-comunidades" role="tab"
            data-toggle="tab">Comunidades</a></li>
        <li role="presentation"><a href="#channel-desconferencias" aria-controls="channel-desconferencias" role="tab"
            data-toggle="tab">Desconferencias</a></li>
        <li role="presentation"><a href="#channel-sedes" aria-controls="channel-sedes" role="tab"
            data-toggle="tab">Sedes</a></li>
        <!--    <li role="presentation"><a href="#channel-support-fest" aria-controls="channel-support-fest" role="tab" data-toggle="tab">Support Fest</a></li>  --!>
      </ul>
  </div>

  <div class="tab-content">

    <div role="tabpanel" class="tab-pane" id="channel-presentate">
      <div class="align fadeInUp channel_container">
        <div class="channel_cell">
          <p class="channel_description">
            Es tu lugar de partida, aquí empieza todo y encontrarás indicaciones básicas para empezar.
          </p>
        </div>
        <iframe
          width="800"
          height="600"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <!-- end presentate .tabpanel -->

        <div role="tabpanel" class="tab-pane" id="channel-general">
          <div class="align fadeInUp channel_container">
            <div class="channel_cell">
              <p class="channel_description">
                Canal general donde nos encontramos todxs.
              </p>
            </div>
            <iframe width="800" height="600" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
        <!-- end general .tabpanel -->

        <div role="tabpanel" class="tab-pane" id="channel-anuncios">
          <div class="align fadeInUp channel_container">
            <div class="channel_cell">
              <p class="channel_description">
                Canal para anuncios acerca de los acontecimientos del evento.
              </p>
            </div>
            <iframe width="800" height="600" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
        <!-- end anuncios .tabpanel -->

        <div role="tabpanel" class="tab-pane" id="channel-comunidades">
          <div class="align fadeInUp channel_container">
            <div class="channel_cell">
              <p class="channel_description">
                Acá podrás encontrar a representantes, miembros, interesados de las distintas comunidades de software
                libre. Estas comunidades tendrán su propio grupo de discusión.
              </p>
            </div>
            <iframe width="800" height="600" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
        <!-- end comunidades .tabpanel -->

        <div role="tabpanel" class="tab-pane" id="channel-desconferencias">
          <div class="align fadeInUp channel_container">
            <div class="channel_cell">
              <p class="channel_description">
                Este canal es exclusivo para desarrollar las desconferencias que podrán surgir en el evento.
              </p>
            </div>
            <iframe width="800" height="600" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
        <!-- end desconferencias .tabpanel -->

        <div role="tabpanel" class="tab-pane" id="channel-sedes">
          <div class="align fadeInUp channel_container">
            <div class="channel_cell">
              <p class="channel_description">
                Acá puedes contactar a los coordinadores de las distintas sedes de FLISoL
              </p>
            </div>
            <iframe width="800" height="600" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
        <!-- end sedes .tabpanel -->
        <!--
    <div role="tabpanel" class="tab-pane" id="channel-support-fest">
      <div class="align fadeInUp channel_container">
        <div class="channel_cell">
          <p class="channel_description">
            Reliza tus consultas, busca ayuda. En este canal estarán especialistas que podrán darte una mano en asuntos técnicos de software libre.
          </p>
        </div>
        <iframe
          width="800"
          height="600"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
-->
        <!-- end support-fest .tabpanel -->

    </div>
    <!-- end section.channels .container .tab-content -->

    <br>
  </div>